#grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width:960px;
    height: 960px;
    margin: auto;
}

.grid-row {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}

.square {
    border: 1px solid black;
    flex-grow: 1;
}

.square:hover {
    background-color: black;
}

#number {
    display: block;
    margin: 20px auto;
}